.zagolovok {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.zadachi {
    padding-top: 20px;
}

.zadacha {
    padding-top: 5px;
    padding-left: 10px;
}

.uslovie {
    padding-top: 5px;
    padding-bottom: 5px;
}

.landing {
    padding-top: 20px;
}

.games {
    padding-top: 20px;
}

.game {
    padding-top: 5px;
    padding-left: 10px;
}









div.content {
    margin: 0 auto;
}

main {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}